<h1>Sign Up</h1>

<%= render "layouts/errors" %>

<form class="" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label>username</label>
  <input type="text" name="user[username]" id="username">
  <br>
  <label>password</label>
  <input type="password" name="user[password]" id="password">
  <br>

  <input type="submit" value="Sign Up">
</form>
